<!doctype html>
{% load static %}
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Скуфорум!</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="{% static 'fonts/icons/main/mainfont/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icons/font-awesome/css/font-awesome.min.css' %}">

    <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v4/bootstrap-grid.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
        .main__bg {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            background-image: url('{% static "images/alt3.jpg" %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            z-index: -1;
        }


        .posts__item {
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .header__user-btn img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #ccc;
        }

        .notification-list {
            padding: 10px;
        }

        .notification-item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            font-size: 14px;
        }

        .notification-item i {
            margin-right: 8px;
            color: #555;
        }
        .posts__body > p {
            color: azure;
            font-size: 24px;
            margin-top: 15%;
            margin-left: 28%;
        }

        .posts__users img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #ccc;
        }
    </style>

</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header js-header js-dropdown">
            <div class="container">
                <div class="header__logo">
                    <h1>
                        <img src="{% static 'images/logo_forum.png' %}" alt="logo">
                    </h1>
                    <div class="header__title">Skuforum</div>
                </div>
                <div class="header__search">
                    <form action="{% url 'main_str' %}" method="get">
                        <label>
                            <i class="icon-Search js-header-search-btn-open"></i>
                            <input type="search" name="q" value="{{ search_query }}" placeholder="Искать" class="form-control">
                        </label>
                    </form>
                </div>
                <div class="header__notification">
                    <div class="header__notification-btn" data-dropdown-btn="notification">
                        <i class="icon-Notification"></i>
                        {% if unread_notifications_count > 0 %}
                            <span>{{ unread_notifications_count }}</span>
                        {% endif %}
                    </div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="notification">
                        {% if notifications.count > 0 %}
                            <div class="notification-list">
                                {% for notification in notifications %}
                                    <a href="#" class="notification-item">
                                        <i class="icon-Info"></i>
                                        {% if notification.notification_type == 'like' %}
                                            Вашу тему "{{ notification.topic.title|truncatechars:20 }}" лайкнули!
                                        {% elif notification.notification_type == 'reply' %}
                                            На вашу тему "{{ notification.topic.title|truncatechars:20 }}" ответили!
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div>
                                <a href="#">
                                    <i class="icon-Info"></i>
                                    <p>Здесь будут уведомления<span>Новых уведомлений пока нет</span></p>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="header__user">
                    <div class="header__user-btn" data-dropdown-btn="user">
                        {% if request.user.is_authenticated %}
                        {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="avatar">
                        {% else %}
                        <img src="{% static 'images/skuf_9.jpg' %}" alt="avatar">
                        {% endif %}
                        {{ request.user }}<i class="icon-Arrow_Below"></i>
                        {% else %}
                        <img src="{% static 'images/skuf_9.jpg' %}" alt="avatar">
                        Анонимус<i class="icon-Arrow_Below"></i>
                        {% endif %}

                    </div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="user">
                        <div>
                            <div class="dropdown__icons">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'main_str' %}?liked_topics=true"><i class="icon-Favorite_Topic"></i></a>
                                <a href="{% url 'main_str' %}?my_topics=true"><i class="icon-Message"></i></a>
                                <a href="{% url 'acaunt' %}"><i class="icon-Preferences"></i></a>
                                <a href="{% url 'signin' %}"><i class="icon-Logout"></i></a>
                                {% else %}
                                <a href="{% url 'signup' %}"><i class="icon-Favorite_Topic"></i></a>
                                <a href="{% url 'signup' %}"><i class="icon-Message"></i></a>
                                <a href="{% url 'signup' %}"><i class="icon-Preferences"></i></a>
                                <a href="{% url 'signup' %}"><i class="icon-Logout"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="header__offset-btn">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'create-topic' %}"><img src="{% static 'fonts/icons/main/New_Topic.svg' %}" alt="New Topic"></a>
                    {% else %}
                    <a href="{% url 'signup' %}"><img src="{% static 'fonts/icons/main/New_Topic.svg' %}" alt="New Topic"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        
        <div class="main__bg"></div>

        <div class="container">
            <div class="nav">
                <div class="nav__categories js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="categories">Все категории</div>
                        <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                            <ul class="dropdown__catalog row">
                                <li class="col-xs-12"><a href="{% url 'main_str' %}">Все категории</a></li>
                                {% for key, value in categories.items %}
                                {% with color_class=value.0 category_name=value.1 %}
                                <li class="col-xs-6">
                                    <a href="{% url 'category_filter' key %}" class="category">
                                        <i class="{{ color_class }}"></i>{{ category_name }}
                                    </a>
                                </li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="tags">Теги</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                            <div class="tags">
                                <a href="{% url 'main_str' %}" class="tag {% if not selected_tags %}selected{% endif %}">
                                    Все теги
                                </a>
                                {% for tag in tags %}
                                <a href="{% url 'main_str' %}?{% if selected_tags %}tags={{ selected_tags|join:'&tags=' }}&{% endif %}tags={{ tag.id }}"
                                   class="tag {% if tag.id in selected_tags %}selected{% endif %}"
                                   style="background-color: {% if tag.id in selected_tags %}#ccc{% else %}{{ tag.color }}{% endif %};">
                                    {{ tag.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                <div class="posts__head">
                    <div class="posts__topic">Тема</div>
                    <div class="posts__category">Категория</div>
                    <div class="posts__users">Автор</div>
                    <div class="posts__replies">Ответы</div>
                </div>
                <div class="posts__body">
                    {% for topic in topics %}
                    <div class="posts__item">
                        <div class="posts__section-left">
                            <div class="posts__topic">
                                <div class="posts__content">
                                    <a href="{% url 'single_topic' topic.id %}">
                                        <h3>{{ topic.title }}</h3>
                                    </a>
                                    <p>{{ topic.description|truncatewords:20 }}</p>
                                    <div class="posts__tags tags">
                                        {% for tag in topic.tags.all %}
                                        <a href="#" style="background-color: {{ tag.color }};">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="posts__section-right">
                            <div class="posts__category">
                                <a href="#" class="category">
                                    <i class="{{ topic.category_color }}"></i>
                                    {{ topic.category_name }}
                                </a>
                            </div>
                            <div class="posts__users">
                                <div>
                                    {% if topic.author.avatar %}
                                    <img src="{{ topic.author.avatar.url }}" alt="avatar">
                                    {% else %}
                                    <img src="{% static 'images/skuf_9.jpg' %}" alt="avatar">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="posts__replies">{{ topic.comment_count }}</div>
                        </div>
                    </div>
                    {% empty %}
                    <p>На данный момент нет тем для отображения.</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>

    <!-- JAVA SCRIPT -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/velocity/velocity.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const notificationButton = document.querySelector('.header__notification-btn');

            notificationButton.addEventListener('click', function () {
                fetch('/mark_notifications_read/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                    credentials: 'same-origin'
                })
                .then(response => {
                    if (response.ok) {
                        const notificationCount = document.querySelector('.header__notification-btn span');
                        if (notificationCount) {
                            notificationCount.textContent = '';
                        }
                    }
                })
                .catch(error => console.error('Ошибка:', error));
            });
        });
    </script>


</body>
</html>
