<!doctype html>
{% load static %}
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Responsive HTML5 Template">
    <meta name="author" content="author.com">
    <title>Регистрация</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="{% static 'fonts/icons/main/mainfont/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icons/font-awesome/css/font-awesome.min.css' %}">

    <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/v4/bootstrap-grid.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
        .main__bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: url('{% static "images/skuf_7.jpg" %}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            z-index: -1;
        }

        .nik_text {
            color: #ffff;
            padding-right: 10px;
            padding-top: 8px;
        }

    </style>
</head>
<body>

<div class="signup">
    <!-- HEADER -->
    <header class="signup__header">
        <div class="container">
            <div class="signup__header-content">
                <p class="nik_text">У вас уже есть учётная запись?</p>
                <a href="{% url 'signin' %}" class="btn">Войти</a>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main class="signup__main">
        <div class="main__bg"></div>

        <div class="container">
            <div class="signup__container">
                <div class="signup__logo">
                    <a href="{% url 'main_str' %}"><img src="{% static 'images/logo_forum.png' %}" alt="logo">Skuforum</a>
                </div>
                <div class="signup__head">
                    <h3>Создайте новую учётную запись</h3>
                    <p>Зарегистрировавшись, вы сможете создавать посты, оставлять комментарии, оценивать записи других пользователей, участвовать в обсуждениях и  многое другое!</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="signup__form">
                        <div class="row" data-visible="desktop">
                            <div class="col-md-6">
                                <div class="signup__section">
                                    <label class="signup__label">Имя</label>
                                    <div>
                                        {{ user_form.first_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="signup__section">
                                    <label class="signup__label">Фамилия</label>
                                    <div>
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="signup__section">
                            <label class="signup__label">Никнейм</label>
                            <div>
                                {{ user_form.username }}
                            </div>
                        </div>
                        <div class="signup__section">
                            <label class="signup__label">Почта</label>
                            <div>
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="signup__section">
                            <label class="signup__label">Пароль</label>
                            <div class="message-input">
                                {{ user_form.password }}
                            </div>
                        </div>
                        <div class="signup__section">
                            <label class="signup__label">Повторите пароль</label>
                            <div class="message-input">
                                {{ user_form.password2 }}
                            </div>
                        </div>
                        <div class="signup__checkbox">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="signup__box">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" checked="checked" required>
                                            <i></i>
                                        </label>
                                        <span>Я принимаю правила сообщества.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="signup__btn-create btn btn--type-02">Создать новый аккаунт</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

    <!-- JAVA SCRIPT -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/velocity/velocity.min.js' %}"></script>
    <script src="{% static 'js/app.js'%}"></script>

</body>
</html>
